{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <h1>Dashboard</h1>
  <p>Welcome to your dashboard.</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <a href="{% url "accountsettings" %}" class="unstyled">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Settings</h5>
          <p class="card-text">
            <ul>
              <li>Click here to edit your site settings</li>
            </ul>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url "edit" %}" class="unstyled">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Edit Profile</h5>
          <p class="card-text">
            <ul>
              <li>Your name</li>
              <li>Your email address</li>
              <li>Your birthday</li>
            </ul>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url "password_change" %}" class="unstyled">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Change Password</h5>
          <p class="card-text">
            <ul>
              <li>Change your password</li>
            </ul>
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
