{% extends "base.html" %}
{% block title %}My Prayer List{% endblock %}
{% block content %}
  <h1>Today's Prayer List</h1>
  <h4>"Rejoice always, pray without ceasing, give thanks in all circumstances; for this is the will of God in Christ Jesus for you."<br>
  - 1 Thessalonians 5:16-18 (ESV)</h4>
  {% if latest_prayer_list %}
  <a href="/prayer/new/">Add a new prayer</a>
  <ul>
    {% for prayer in latest_prayer_list %}
    <li><a href="{% url 'prayer:detail' prayer.id %}">{{prayer.prayer_title}}</a></li>
    {% endfor %}
    <br>
  </ul>
  {% else %}
    <p><a href="{% url 'prayer:new prayer' %}">Add your first prayer!</a></p>
  {% endif %}
{% endblock %}
