{% extends "base.html" %}
{% load prayer_extras %}
{% load tz %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1>Today's Prayer List</h1>
  <p>"Rejoice always, pray without ceasing, give thanks in all circumstances; for this is the will of God in Christ Jesus for you."<br>
  - 1 Thessalonians 5:16-18 (ESV)</p>
  {% if latest_prayer_list %}
  <p><a href="/prayer/new/">Add a new prayer</a></p>
  <div class="accordion col-md-12 col-lg-9 col-xl-6" id="prayerAccordian">
    {%for prayer in latest_prayer_list.prayer|getall %}
    <div class="card">
      <div class="card-header" id="heading{{prayer.id}}">
        <h5 class="mb-0">
          <button class="btn btn-link stretched-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{prayer.id}}" aria-expanded="false" aria-controls="collapse{{prayer.id}}">
            <div {% if prayer.last_prayed_date|localtime|dateof == latest_prayer_list.date %}class="complete"{% endif %}>{{ prayer.prayer_title }}</div>
          </button>
        </h5>
      </div>
      <div id="collapse{{prayer.id}}" class="collapse" aria-labelledby="heading{{prayer.id}}" data-bs-parent="#prayerAccordian">
        <div class="card-body">
          <p>{{ prayer.prayer_text }}</p>
          <p>{{ prayer|displayFrequency }} List | Expires: {{ prayer|expireDate }}</p>
          {% if prayer.id %}
          <form action="{% url 'prayer:prayed' prayer.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" id="prayer_id" name="prayer_id" value="{{ prayer.id }}">
            <input type="submit" style="position:relative; z-index:2;" class="btn btn-dark" value="Prayed">
          </form>
          <a href="{% url 'prayer:update_prayer' prayer.id %}">
            <button class="btn btn-dark" style="position:relative; z-index:2;">Update</button>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    <p><a href="{% url 'prayer:new prayer' %}">Add your first prayer!</a></p>
  {% endif %}
{% endblock %}
