{% extends "base.html" %}
{% load prayer_extras %}
{% load tz %}
{% block title %}My Prayers{% endblock %}
{% block content %}
  <h1>My Prayers</h1>
  {% if object_list %}
  <p><a href="/prayer/new/">Add a new prayer</a></p>
  <div class="accordion" id="prayerAccordian" style="max-width:600px;">
    {% for prayer in object_list %}
    <div class="card">
      <div class="card-header" id="heading{{prayer.id}}">
        <h5 class="mb-0">
          <div class='d-flex'>
            <button class="btn btn-link stretched-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{prayer.id}}" aria-expanded="false" aria-controls="collapse{{prayer.id}}">
              <div>{{ prayer.prayer_title }}</div>
            </button>
            {% if prayer.reference_prayer %}
            <div class='ms-auto'>@{{prayer.reference_prayer.user}}</div>
            {% endif %}
          </div>
        </h5>
      </div>
      <div id="collapse{{prayer.id}}" class="collapse" aria-labelledby="heading{{prayer.id}}" data-bs-parent="#prayerAccordian">
        <div class="card-body">
          <p>{{ prayer.prayer_text }}</p>
          <p>{{ prayer|displayFrequency }} List | Expires: {{ prayer|expireDate }}</p>
          {% if prayer.id %}
            <a href="{% url 'prayer:update_prayer' prayer.id %}" class="unstyled">
              <button class="btn btn-dark" style="position:relative; z-index:2;">
                Update
              </button>
            </a>
            {% if prayer.reference_prayer %}
            {% else %}
              <button type="button" class="btn btn-dark" style="position:relative; z-index:2;" data-bs-toggle="modal" data-bs-target="#shareModal-{{ prayer.pk }}">
                Share
              </button>
              <!-- Modal -->
              <div class="modal fade" id="shareModal-{{ prayer.pk }}" tabindex="-1" aria-labelledby="shareModalLabel-{{ prayer.pk }}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="shareModalLabel-{{ prayer.pk }}">Share this Prayer</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Share this prayer with your followers<br>
                      <form id=form-{{ prayer.pk }} action="{% url 'prayer:shareprayer' %}" method="post" >
                        {% csrf_token %}
                        <input type="hidden" name="prayerid" id="prayerid" value="{{ prayer.pk }}">
                        {% for follower in prayer.user.profile.followers|getall %}
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ follower.user.pk }}" id="flexCheck-{{ prayer.pk }}-{{ forloop.counter }}" name="userCheck" {% if follower.user in prayer.visible_to|getall %}checked{% endif %}>
                            <label class="form-check-label" for="flexCheck-{{ prayer.pk }}-{{ forloop.counter }}">
                              @{{ follower.user }}<br>
                            </label>
                          </div>
                        {% endfor %}
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" form="form-{{ prayer.pk }}" class="btn btn-primary">Share</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    <p><a href="{% url 'prayer:new prayer' %}">Add your first prayer!</a></p>
  {% endif %}
{% endblock %}
