{% extends "base.html" %}
{% block title %}Add a New Prayer{% endblock %}
{% block content %}
  <h1>New Prayer</h1>
  <form action="{% url 'prayer:create prayer' %}" method="post">
    {% csrf_token %}
    <label for="prayertitle">Prayer title:</label><br>
    <input type="text" name="prayertitle" id="prayertitle" required><br>
    <label for="prayertext">Prayer text:</label><br>
    <textarea name="prayertext" rows="4" cols="40"></textarea><br>
    <input type="submit" value="Submit"/>
  </form>
{% endblock %}
