{% extends "base.html" %}
{% block title %}Add a New Prayer{% endblock %}
{% block content %}
  <h1>New Prayer</h1>
  <div>
    <form action="{% url 'prayer:create prayer' %}" method="post">
      {% csrf_token %}
      <label for="prayertitle">Prayer title:</label><br>
      <input type="text" name="prayertitle" id="prayertitle" required><br>
      <label for="prayertext">Prayer text:</label><br>
      <textarea name="prayertext" rows="4" cols="40"></textarea><br>
      <label for="expire_date">Expires:</label><br>
      <input type="date" name="expire_date" id="expire_Date"><br>
      <input type="radio" name="frequency" value="-1" id="rotating" checked>
      <label for="rotating">Add to Rotating List</label>
      <input type="radio" name="frequency" value="1", id="daily"> <label for="daily">Pray Daily</label>
      <input type="submit" value="Submit"/>
    </form>
  </div>
{% endblock %}
