{% extends "base.html" %}
{% load prayer_extras %}
{% load tz %}
{% block title %}Prayer Feed{% endblock %}
{% block content %}
  <h1>Prayer Feed</h1>
  {% if object_list %}
  <div class="accordion" id="prayerAccordian" style="max-width:600px;">
    {% for prayer in object_list %}
    <div class="card">
      <div class="card-header" id="heading{{prayer.id}}" style="width:100%">
        <h5 class="mb-0">
          <div class='d-flex'>
            <button class="btn btn-link stretched-link me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{prayer.id}}" aria-expanded="false" aria-controls="collapse{{prayer.id}}">
              <div>{{ prayer.prayer_title }}</div>
            </button>
            <div class='ms-auto'>@{{ prayer.user }}</div>
          </div>
        </h5>
      </div>
      <div id="collapse{{prayer.id}}" class="collapse" aria-labelledby="heading{{prayer.id}}" data-bs-parent="#prayerAccordian">
        <div class="card-body">
          <p>{{ prayer.prayer_text }}</p>
          <p>Expires: {{ prayer|expireDate }}</p>
          {% if prayer.id %}
          <form action="{% url 'prayer:addtomylist' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" id="prayer_id" name="prayer_id" value="{{ prayer.id }}">
            <input type='submit' class='btn btn-dark' style='position:relative; z-index:2;' value="Add to my list">
          </form>
          <!--
          <a href="{% url 'prayer:update_prayer' prayer.id %}">
            <button class="btn btn-dark" style="position:relative; z-index:2;">Update</button>
          </a>
          -->
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    <p>No prayers currently shared with you.</p>
  {% endif %}
{% endblock %}
